.card{
  height: 40vh !important;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: filter 0.2s;
  cursor: pointer;  
}
.card img{
  height: 35vh;
  width: 100% !important;
  padding: 5px;
}

.description{
 position: absolute;
 bottom: -400px;
 padding: 0px 10px;
 transition: bottom 0.5s ;
 color: white;
 font-weight: 600;
 background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
 
}

.card:hover .description{
  bottom: 0;

}
.card:hover {

  filter: grayscale();
}