.card {
  width: 500px !important;
  height: 40vh;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: filter 0.5s;
  cursor: pointer;
  background-color: #171b20 !important;
  padding: 1rem;
}
.card img {
  width: 460px ;
  height: 40vh;
  object-fit: cover;
}

.description {
  position: absolute;
  bottom: -400px;
  padding: 0px 10px;
  transition: bottom 0.5s ease-in-out;
  color: white;
  font-weight: 600;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.card:hover .description {
  bottom: 0;
}
.card:hover {
  filter: grayscale();
}
